head
		title Alarmbox
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="MaterialIcons" rel="/static/stylesheet")
		link(rel="stylesheet" href="/static/bootstrapV4.css")

		script(type="text/javascript" src="/static/jquery.min.js")
		
		script(src="/static/bootstrapV4.js")